* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(#fff, #ddd);
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: "Cutive", serif;
    letter-spacing: 0.2em;
    /* text-transform: uppercase;
    text-indent: 0.5em; */
  }

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #ff7600;
    color: white;
}

header h1 {
    font-size: 2.5em;
    margin-left: 15px;
}

header button {
    margin-right: 10px;
}

#exit-game {
    padding: 5px 10px;
}

#welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 10px auto;
    padding: 40px 0;
    background-color: #ffd1aa;
    color: #552700;
    border-radius: 5px;
}

#welcome-screen h2 {
    text-align: center;
}

#welcome-screen input[name=difficulty] {
    margin: 8px 5px;
}

#start {
    margin-top: 20px;
    width: 175px;
    height: 40px;
    border-bottom: solid 4px #777;
    border-radius: 10px;
}

#start:hover {
    border-bottom: solid 4px #777;
    border-radius: 10px;
    background-color: #fafafa;
}

#game-board {
    width: 85%;
    margin: 10px auto;
    border: solid black 1px;
}

#game-board h3 {
    margin-left: 10px;
}

#button-container {
    background-color: green;
    display: flex;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: relative;
    height: 181px;
    width: 130px;
    border-radius: 10px;
    border: solid purple 3px;
    margin: 10px 5px;
}

/* .card .face,
.card .back {
    display: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url(../img/ShagCard.jpg);
} */

.flipper.card {
    width: 130px;
    height: 181px;
    display: inline-block;
}

.flipper.card>* {
    background-image: url(../img/star_wars_card.jpg);
    border-radius: 10px;
}

.flipper.card>.back {
    background-position: -845px -1178px;
}

.flipper.card>.face {
    background-position: -40px -48px;
}

.card .flipped {
    transform: rotateY(180deg);
}

.card img {
    border-radius: 10px;
    width: 100%;
}

footer {
    background-color: #aaa;
    color: #fff;
}

#built-with {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white 1px;
    justify-content: flex-start;
    margin-left: 3px;
}

#built-with img {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px 5px;
    width: 10%;
}


main {
    margin: 0 auto;
    width: 80%;
}

button {
    /* flex-basis: 125px;
    height: 175px; */
    margin: 8px 8px;
    padding: 0;
}

img {
    margin: 0;

}